<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /camera/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /camera/index.html [L]
</IfModule>